---
import SiteLayout from "@layouts/SiteLayout.astro"
import PageHeader from "@components/PageHeader.astro"
import Link from "@components/Link"

const inspirations = {
  people: [
    { name: "José Valim", link: "https://github.com/josevalim" },
    { name: "Slim Lim", link: "https://slim.computer/" },
    { name: "Linus Lee", link: "https://thesephist.com/" },
    { name: "Dax Raad", link: "https://x.com/thdxr" },
    { name: "Astrid Yu", link: "https://astrid.tech/" },
    { name: "Aaron Francis", link: "https://aaronfrancis.com" },
    { name: "Thorsten Ball", link: "https://thorstenball.com/" },
    { name: "Carson Gross", link: "https://bigsky.software/cv/" },
    { name: "Ink and Switch", link: "https://www.inkandswitch.com/" },
    { name: "George Hotz", link: "https://geohot.com/" },
  ],
  posts: [
    {
      title: "Less is exponentially more",
      author: "Rob Pike",
      link: "https://commandcenter.blogspot.com/2012/06/less-is-exponentially-more.html",
    },
    {
      title: "Parse, don't validate",
      author: "Alexis King",
      link: "https://lexi-lambda.github.io/blog/2019/11/05/parse-don-t-validate/",
    },
    {
      title: "Build tools around workflows, not workflows around tools",
      author: "Linus Lee",
      link: "https://thesephist.com/posts/tools/",
    },
    {
      title: "Cutting through to what matters",
      author: "Oz Nova",
      link: "https://ozwrites.com/knives/",
    },
    {
      title: "Locality of Behaviour",
      author: "Carson Gross",
      link: "https://htmx.org/essays/locality-of-behaviour/",
    },
    {
      title: "Linear Method",
      author: "Linear",
      link: "https://linear.app/method",
    },
    {
      title: "Tiger Style",
      author: "TigerBeetle",
      link: "https://github.com/tigerbeetle/tigerbeetle/blob/main/docs/TIGER_STYLE.md",
    },
    {
      title: "The Grug Brained Developer",
      author: "Carson Gross",
      link: "https://grugbrain.dev/",
    },
    {
      title: "Professional Programming: The First 10 Years",
      author: "Thorsten Ball",
      link: "https://thorstenball.com/blog/2022/05/17/professional-programming-the-first-10-years/",
    },
    {
      title: "The Twelve-Factor App",
      author: "Adam Wiggins",
      link: "https://12factor.net/",
    },
    {
      title: "Obvious to you. Amazing to others.",
      author: "Derek Sivers",
      link: "https://sive.rs/obvious",
    },
  ],
  videos: [
    {
      title: "Inaction Is A Slow Death",
      author: "Better Ideas",
      link: "https://youtu.be/RIVVQkZtnAU",
    },
  ],
  talks: [
    {
      title: "Gang of None: Design Patterns in Elixir",
      author: "José Valim",
      link: "https://youtu.be/agkXUp0hCW8",
    },
    {
      title: "TigerBeetle",
      author: "Joran Dirk Greef",
      link: "https://youtu.be/sC1B3d9C_sI",
    },
    {
      title: "Developer Excellence",
      author: "ThePrimeagen",
      link: "https://youtu.be/96VlfN7ViyE",
    },
    {
      title: "Can machines think?",
      author: "Richard Feynman",
      link: "https://youtu.be/ipRvjS7q1DI",
    },
    {
      title: "History of Computers & User Interface Images & Symbols",
      author: "Alan Kay",
      link: "https://youtu.be/6ZdxiQoOBgs",
    },
    {
      title: "The Mother of All Demos",
      author: "Douglas Engelbart",
      link: "https://youtu.be/yJDv-zdhzMY",
    },
    {
      title: "Language Acquisition",
      author: "Stephen Krashen",
      link: "https://youtu.be/NiTsduRreug",
    },
  ],
  music: [
    {
      title: "Joe Hisaishi in Budokan - Studio Ghibli 25 Years Concert",
      link: "https://youtu.be/IbRkwS_xRt8",
    },
    {
      title: "Sumeru Live Symphony Performance",
      link: "https://youtu.be/VrP3lO3aGDg",
    },
    {
      title: "Keiichi Okabe, creating the music of NieR: Automata",
      link: "https://youtu.be/MhTSy9OTWv0",
    },
    {
      title: "Kronodigger: Electronic Dance Tracks with Clarinet",
      link: "https://www.youtube.com/playlist?list=PLiDVgcuF8JTycyp7lfBS2TDz6uGqySj-0",
    },
    {
      title: "Twilight Symphony - Behind the Scenes",
      link: "https://youtu.be/_tT9Ey_1iMk",
    },
    {
      title: "The Legend of Zelda 25th Anniversary Symphony Special CD",
      link: "https://archive.org/details/03.thewindwakersymphonicmovement",
    },
    {
      title: "Floaroma Town, insaneintherain ft. Jose Ignacio Santos Aquino",
      link: "https://youtu.be/xW4nufr8quE",
    },
    {
      title: "Team Galactic HQ, insaneintherain ft. Pat Bartley",
      link: "https://youtu.be/P-pGG02A0oY",
    },
    {
      title: "Prelude to the Champion, insaneintherain ft. Kara Comparetto",
      link: "https://youtu.be/HNWU4X9lqDQ",
    },
    {
      title: "FELT - Rising Nebula",
      link: "https://youtube.com/playlist?list=PLCpeysDj_eWdkLvsdGC_Ti_pZiHaTG43A",
    },
    {
      title: "GATE OF STEINER",
      link: "https://youtu.be/7d0WMVU_tlo",
    },
    {
      title: "NieR Piano Collections",
      link: "https://youtube.com/playlist?list=OLAK5uy_lKV2DO7jn6IBLa5AnSDX2DfnQ84h5U2h8",
    },
    {
      title: "NieR: Automata Piano Collections",
      link: "https://youtube.com/playlist?list=PLBO2h-GzDvIY8aPOhCa2X9fniAB8Qfz3A",
    },
    {
      title: "命の在り方",
      link: "https://youtu.be/4H4ZHvZFb1w",
    },
    {
      title: "Stories of Remote Antiquity",
      link: "https://youtu.be/mgOCMnnAkdg",
    },
    {
      title: "Forgotten Vale - Skyrim",
      link: "https://youtu.be/tBGgZ1PUFWU",
    },
    {
      title: "Scheherazade",
      link: "https://youtu.be/zY4w4_W30aQ",
    },
    {
      title: "The Seventh Night of July",
      link: "https://open.spotify.com/track/7c8SbAtxmhG1HVPkvweses?si=845854386705427f",
    },
    {
      title: "たなばた / 酒井格 -クラリネット五重奏",
      link: "https://youtu.be/sk708vRc0oo",
    },
  ],
  language: [{ name: "Stephen Krashen", link: "https://github.com/josevalim" }],
  games: [
    { title: "The Legend of Zelda" },
    { title: "NieR" },
    { title: "The Elder Scrolls (Skyrim, Oblivion)" },
    { title: "Bioshock" },
    { title: "Horizon: Zero Dawn" },
    { title: "Tales of Vesperia" },
    { title: "Tales of the Abyss" },
    { title: "Tales of Berseria" },
    { title: "Stardew Valley" },
    { title: "Genshin Impact" },
  ],
  media: [
    { title: "Arcane" },
    { title: "Alice in Borderland" },
    { title: "Violet Evergarden" },
    { title: "STEINS;GATE" },
    { title: "Hibike! Euphonium" },
    { title: "PSYCHO-PASS" },
    { title: "Your Name" },
    { title: "Liz and the Blue Bird" },
  ],
}
---

<SiteLayout title="Inspirations">
  <PageHeader>Inspirations</PageHeader>

  <section class="space-y-4">
    <p>
      I've taken inspiration from quite a few different places. It's difficult to know in advance
      when something will inspire you, but it's a special feeling when you find something that does.
      While it's difficult to be exhaustive, this page lists out the largest influences that have
      shaped my perspective and inspired my creative work. It'll be more organized in the future, I
      promise.
    </p>

    <p>
      Some of these inspirations are recent, and many are from my childhood. I believe there's
      something important about holding on to the things that inspired us as children.
    </p>

    <div class="py-2">
      <blockquote class="mb-2 border-s-4 border-zinc-200 ps-2 italic text-zinc-900">
        Regardless of the circumstances, human capacity has its limits, and when too much happens,
        it’s easy to feel like giving up on our dreams. It's only natural to prioritize daily life;
        after all, it’s reality that gives rise to our dreams.
        <br />
        <br />
        Yet, as those dreams get worn down by the harshness of everyday life, I often hoped you could
        recall the dreams you had before facing those challenges. It may be presumptuous of me, but I
        believe that the aspirations you had as a child are incredibly important.
      </blockquote>
      <p>&mdash; Kana Akatsuki in the afterword of <i>Violet Evergarden Ever After</i></p>
    </div>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Computing</h4>
      {
        inspirations.people.map((person) => (
          <li>
            <Link href={person.link}>{person.name}</Link>
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Posts</h4>
      {
        inspirations.posts.map((post) => (
          <li>
            <Link href={post.link}>{post.title}</Link> by {post.author}
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Talks</h4>
      {
        inspirations.talks.map((talk) => (
          <li>
            <Link href={talk.link}>{talk.title}</Link> by {talk.author}
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Videos</h4>
      {
        inspirations.videos.map((video) => (
          <li>
            <Link href={video.link}>{video.title}</Link> by {video.author}
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Music</h4>
      {
        inspirations.music.map((item) => (
          <li>
            <Link href={item.link}>{item.title}</Link>
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Games</h4>
      {inspirations.games.map((item) => <li>{item.title}</li>)}
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 font-sans text-xl font-bold tracking-tight">Media</h4>
      {inspirations.media.map((item) => <li>{item.title}</li>)}
    </ul>
  </section>
</SiteLayout>
