---
import SiteLayout from "@layouts/SiteLayout.astro"
import Link from "../components/Link.astro"

const inspirations = {
  people: [
    { name: "José Valim", link: "https://github.com/josevalim" },
    { name: "Slim Lim", link: "https://slim.computer/" },
    { name: "Linus Lee", link: "https://thesephist.com/" },
    { name: "Dax Raad", link: "https://x.com/thdxr" },
    { name: "Alexis King", link: "https://lexi-lambda.github.io/" },
    { name: "George Hotz", link: "https://geohot.com/" },
    { name: "Richard Feynman", link: "https://en.wikipedia.org/wiki/Richard_Feynman" },
    { name: "Alan Kay", link: "https://en.wikipedia.org/wiki/Alan_Kay" },
  ],
  posts: [
    {
      title: "Less is exponentially more",
      author: "Rob Pike",
      link: "https://commandcenter.blogspot.com/2012/06/less-is-exponentially-more.html",
    },
    {
      title: "Parse, don't validate",
      author: "Alexis King",
      link: "https://lexi-lambda.github.io/blog/2019/11/05/parse-don-t-validate/",
    },
    {
      title: "Build tools around workflows, not workflows around tools",
      author: "thesephist",
      link: "https://thesephist.com/posts/tools/",
    },
    {
      title: "Tiger Style",
      author: "TigerBeetle",
      link: "https://github.com/tigerbeetle/tigerbeetle/blob/main/docs/TIGER_STYLE.md",
    },
  ],
  talks: [
    {
      title: "History of Computers & User Interface Images & Symbols",
      author: "Alan Kay",
      link: "https://youtu.be/6ZdxiQoOBgs",
    },
    {
      title: "Gang of None: Design Patterns in Elixir",
      author: "José Valim",
      link: "https://youtu.be/agkXUp0hCW8",
    },
    {
      title: "TigerBeetle",
      author: "Joran Dirk Greef",
      link: "https://youtu.be/sC1B3d9C_sI",
    },
    {
      title: "Can machines think?",
      author: "Richard Feynman",
      link: "https://youtu.be/ipRvjS7q1DI",
    },
  ],
}
---

<SiteLayout>
  <header
    class="my-6 flex flex-col items-center justify-around gap-8 text-center sm:flex-row sm:gap-0 sm:text-left"
  >
    <div class="order-last sm:order-first">
      <h1 class="mb-2 text-4xl font-bold">Debashis Biswas</h1>
      <p class="text-lg">Software Engineer, Musician</p>
    </div>

    <div class="flex justify-center">
      <!-- Avoiding the Image component as it makes my image too blurry. -->
      <img
        src="/assets/headshot_500x500.webp"
        alt="My headshot!"
        width="256"
        height="256"
        class="rounded-lg"
      />
    </div>
  </header>

  <section class="mb-12 space-y-4">
    <p>
      Hi, I'm Debashis. I'm a software engineer at Honeywell. I've previously worked at Garmin and
      Intel. I currently spend most of my time using Elixir, TypeScript, and Python, and I'm
      comfortable in other languages as well.
    </p>
    <p>
      I completed my MS in Computer Science at Arizona State University, where I primarily studied
      cybersecurity: binary analysis and exploitation, reverse engineering, and network security.
    </p>
    <ul class="list-inside list-disc leading-relaxed">
      I've recently been exploring:
      <li>real-time distributed systems for music applications</li>
      <li>design and UX</li>
      <li>infrastructure as code</li>
    </ul>
    <p>
      I'm also a classically-trained clarinetist, and I completed my BMus in Clarinet Performance at
      Arizona State University. I've studied with
      <Link href="https://www.selmer.fr/en/blogs/artistes/robert-spring">Dr. Robert Spring</Link>,
      <Link href="https://www.selmer.fr/en/blogs/artistes/joshua-gardner">Dr. Joshua Gardner</Link>,
      and
      <Link href="https://www.selmer.fr/en/blogs/artistes/stefanie-gardner">
        Dr. Stefanie Gardner
      </Link>. In addition to the clarinet, I play the bass clarinet, contra-alto clarinet, and
      contrabass clarinet.
    </p>
    <p>
      Oh, and I repair musical instruments! I studied instrument repair with Dr. Steve Prescott, a
      well-known repairperson in the clarinet community. I primarily focus on clarinet repair,
      though I've done a bit of work on flutes and saxophones.
    </p>
    <p>
      Some of my other interests include calisthenics, cooking, language learning, note-taking
      systems, ergonomic keyboards, type theory, (neo)vim, Linux, and NixOS.
    </p>
    <p>
      You can find me on
      <Link href="https://github.com/debashisbiswas/">GitHub</Link>,
      <Link href="https://x.com/raenastra">Twitter</Link>, and
      <Link href="https://www.linkedin.com/in/d-biswas/">LinkedIn</Link>.
    </p>
  </section>

  <section class="space-y-4">
    <h3 class="mb-6 text-3xl font-bold tracking-tight">Inspirations</h3>

    <ul class="list-inside list-disc leading-relaxed">
      Here are some of my inspirations in computing:
      {
        inspirations.people.map((person) => (
          <li>
            <Link href={person.link}>{person.name}</Link>
          </li>
        ))
      }
    </ul>

    <p>
      While it's difficult to be exhaustive, here are some posts and talks that have changed my
      perspective in a meaningful way.
    </p>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 text-xl font-bold tracking-tight">Posts</h4>
      {
        inspirations.posts.map((post) => (
          <li>
            <Link href={post.link}>{post.title}</Link> by {post.author}
          </li>
        ))
      }
    </ul>

    <ul class="list-inside list-disc leading-relaxed">
      <h4 class="mb-2 text-xl font-bold tracking-tight">Talks</h4>
      {
        inspirations.talks.map((talk) => (
          <li>
            <Link href={talk.link}>{talk.title}</Link> by {talk.author}
          </li>
        ))
      }
    </ul>
  </section>
</SiteLayout>
