---
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import ProjectDisplay from "../components/ProjectDisplay.astro"
import PerformanceDisplay from "../components/PerformanceDisplay.astro"
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SOFTWARE_PROJECTS,
  OPEN_SOURCE_CONTRIBUTIONS,
  PERFORMANCES,
} from "../content"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="mx-auto max-w-screen-lg bg-gradient-to-r from-violet-100 to-blue-100">
    <main role="main" class="mx-4">
      <Header />

      <div class="my-4">
        <h3 class="py-6 text-3xl font-bold tracking-tight">Software Projects</h3>
        <div class="space-y-8">
          {SOFTWARE_PROJECTS.map((project) => <ProjectDisplay project={project} />)}
        </div>
      </div>

      <div class="my-4">
        <h3 class="py-6 text-3xl font-bold tracking-tight">Open Source Contributions</h3>
        <div class="space-y-8">
          {OPEN_SOURCE_CONTRIBUTIONS.map((project) => <ProjectDisplay project={project} />)}
        </div>
      </div>

      <div class="my-4">
        <h3 class="py-6 text-3xl font-bold tracking-tight">Music Performances</h3>
        <div class="grid gap-4 md:grid-cols-2">
          {PERFORMANCES.map((performance) => <PerformanceDisplay performance={performance} />)}
        </div>
      </div>
    </main>
  </body>
</html>
